<div class="row">
  <div class="col-2"></div>
  <!--Card-->
  <mdb-card cascade="true" wider="true" class="col-8">

    <!--Card image-->
    <div class="view view-cascade overlay waves-light row">
      <app-sigma class="col-12"></app-sigma>
    </div>
    <!--/Card image-->

    <mdb-card-body cascade="true" class="text-center">
      <!--Card content-->
      <!--Title-->
      <h4 class="card-title">
        <strong>Tienda en Línea</strong>
      </h4>

      <mdb-card-text>

      </mdb-card-text>

    </mdb-card-body>
    <!--/.Card content-->

  </mdb-card>
  <!--/.Card-->
  <div class="col-2"></div>
</div>
